<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBBdTgzbOWlCgXfQJmrM-egGXgOhOj_Ro0</string>
	<key>GCM_SENDER_ID</key>
	<string>285859933702</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.musicPlayer</string>
	<key>PROJECT_ID</key>
	<string>nymble-assessment</string>
	<key>STORAGE_BUCKET</key>
	<string>nymble-assessment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:285859933702:ios:423e8109127c7397b8dd87</string>
</dict>
</plist>